[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "thirdparty/bullet3"]
	path = thirdparty/bullet3
	url = https://github.com/bulletphysics/bullet3.git
